.productsContainer{
    width: 1480px;
    margin: 0 auto;

}
.product{
    border: 1px solid black;
    display: flex;
}

.productImg{
    width: 50%;
    height: 100%;
}

.productImg img{
    height:70%;
    width:50%;
    object-fit: cover;

}